* {
    box-sizing: border-box;
  }
  @media (max-width: 500px) {
    #nav-bar {
        width: 120px;
        flex-wrap: wrap;

        margin: 0;
        padding: 0;
    }

    body {
        width: 300px;
        margin-left: 0;
        padding-left: 0;
      
        
    }

    body {
        flex-wrap: wrap;
    }
}
  
  body {
    background:radial-gradient(  #f3cba5 , #f2bf90 70%);
    display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
      padding-bottom: 100px;
  
  }
  header{
    position: fixed;
    top: 0;
    background: #453953;
    display: flex;
    justify-content: space-between;
 flex-direction: row;
width: 100%;
left:0
   
  }
 nav, #nav-bar {
    float: right;
 
   align-items: flex-end;
    font-size: 20px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    color:#25161b;
    background-color: transparent;
    text-align: center;
 
}

.nav-link {
text-align: center;
    color:#25161b;
    margin: 10px;
    display: inline;
    justify-content: space-between;

padding: 2px;
}

a {
    text-decoration: none;
text-align: center;
}

.nav-link{
    list-style: none;
    justify-content: space-between;
    padding-left: 50px;
  
}
li :last-of-type{
    padding-right: 10px;
}

ul {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;}
    #header-img{
    width:80px;
    height: 80px;
    padding-top: 10px;
    float: left;
    padding-left: 0;
    padding-right: 10px;
    }
 
    ul li {
        text-shadow: 0 0 3px #f3cba5;;
padding : 15px;
    
     background:#975a5e ;
     box-shadow: 2px,2px,2px,#25161b ;
     border-radius: 8px;
      
    }
     a:hover{
       
      transform:  scale(1.5,1);
      
    }
    main{
        padding-top: 120px;
    
    }
    .portable{
        width:100%;
        height:450px;
   
  
    }
    .portable2{
        width: 80%;
        border-radius: 8px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
    float: right;}
     
    h2 {
        font-size: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-shadow: 0 0 3px  #975a5e;
        text-shadow: -1px 0#975a5e, 0 1px #975a5e, 1px 0#975a5e, 0 -1px #975a5e;
    }
    p{
        font-size: 24px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-left: 20px;
    }
    span {
        font-weight: bold;
        font-style: italic;
        color: #91171d;
    }
    form{
        font-size: 24px;
        font-weight: bold;
      
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        display: block;
      
        padding-top: 100px;
        justify-content: space-around;
        padding-bottom: 100px;
     text-align: center;
        margin: 20px;
      
    }
    input{
        padding: 20px;
        width: 30%;
        background:#975a5e ;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-radius: 10px;
        border-color: #000000;
        color:#000000;
       
    }
  #submit{
        background: #453953;
    }
    #Overveiw{
        display: inline;
        justify-content: space-between;
        align-items: center;
        padding-top: 200px;
       
    }
    #Featurs{
        padding-top: 200px;
    }
    ol{
        list-style:decimal;
        font-size: 24px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       
    }
   .list {
     padding-top: 10px;
        padding-left: 20px;  
        border-radius: 8px;
        border: solid 2px;
        padding: 10px;
        margin: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #How-To-Use{
        display:block;
       padding-top: 100px;
        justify-content: center;
        align-items:center;
    }
    #video {
        padding-left: 250px;
        width: 90%;
       
    }
    h1{
        text-align: center;
        font-size: 38px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-top: 0;
        padding-bottom: 10px;
    }
    #Dimension-Material{
padding-top: 100px;
    }
    #Pricing{
        padding-top: 100px;  
    }
    img {
        border-radius: 8px;
      }
      img.portable2 {
       width: 40%;
       border-radius: 8px;
        background-color: #453953;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      div.container {
        text-align: center;
        padding: 10px 20px;
      }
      .portable2{
        display: flex;
        flex-direction: column;
        width: 40%;
      }
      .text {
        margin-top: 200px;
      }
      .listed{
        display: flex;
        flex-direction: row;
       flex-wrap: wrap;
      }
     .cards{
        display: flex;
        flex-direction: row;
       justify-content: space-between;
      }
   
      
      
      .first{
        font-size: 20px;  
      }
      .firstcard{
         background-color:#f3cba5;
         width:25%;
         border-radius: 8px;
         text-align: center;
      }
      .firstcard img {
        border: solid 1px black;
      }
      .firstcard #submit {
        padding: 20px;
        text-align: center;
        font-size: 16px;
        color: #f2bf90;
      }